.CodeRay .comment,
.CodeRay .directive {
  color: #998;
  font-style: italic;
  font-weight: normal;
}
.CodeRay .integer,
.CodeRay .string .content,
.CodeRay .string .delimiter,
.CodeRay .string .instance-variable {
  color: #008080;
}
.CodeRay .instance-variable {
  color: #808000;
}
.CodeRay .shell,
.CodeRay .string {
  background-color: inherit;
  color: #d14;
}
.CodeRay pre {
  margin: 1em 0;
}
.CodeRay {
  border: 0;
}
.CodeRay .function {
  color: #00f;
}