---
layout: page
title : Archive
header : Post Archive
group: page
---
<div class="tabbable">
	<ul class="nav nav-pills" id="_archive_year_">
	{% for years in site.posts  %}																{% assign _this_year_ = years.date | date: "%Y" %}		{% assign _next_year_ = years.previous.date | date: "%Y" %}
	{% if forloop.first %}													<li class="active"><a href="#{{ _this_year_ }}" data-toggle="pill">{{ _this_year_ }}</a></li>
	{% elsif _this_year_ != _next_year_ %}								<li class=""><a href="#{{ _next_year_  }}" data-toggle="pill">{{ _next_year_ }}</a></li>							{% endif %}	{% endfor %}
	</ul>
	<div class="tab-content">
		{% for node in site.posts  %}																{% assign _this_year_ = node.date | date: "%Y" %}		{% assign _next_year_ = node.previous.date | date: "%Y" %}
		{% if forloop.first %}
		 <section class="tab-pane active" id="{{ _this_year_ }}">
		 	<ul class="list-unstyled">
		 		<li><small class="text-muted"><time datetime="{{ node.date | date: "%Y-%m-%d" }}">{{ node.date | date: "%b %d %Y" }}</time> <i class="{{ site.icon.list }}"></i></small> <a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
		{% elsif forloop.last %}
				<li><small class="text-muted"><time datetime="{{ node.date | date: "%Y-%m-%d" }}">{{ node.date | date: "%b %d %Y" }}</time> <i class="{{ site.icon.list }}"></i></small> <a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
			</ul>
		</section>
		{% elsif _this_year_ != _next_year_ %}
				<li><small class="text-muted"><time datetime="{{ node.date | date: "%Y-%m-%d" }}">{{ node.date | date: "%b %d %Y" }}</time> <i class="{{ site.icon.list }}"></i></small> <a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
			</ul>
		</section>
		<section class="tab-pane" id="{{ _next_year_ }}">
			<ul class="list-unstyled"> 
		 {% elsif _this_year_ == _this_year_ %}
				<li><small class="text-muted"><time datetime="{{ node.date | date: "%Y-%m-%d" }}">{{ node.date | date: "%b %d %Y" }}</time> <i class="{{ site.icon.list }}"></i></small> <a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
		 {% endif %}
		 {% endfor %}
	</div>
</div>