---
layout: page
title : Archive
header : Post Archive
group: navigation
---
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs nav-stacked">
    <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
    <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p>I'm in Section 1.</p>
    </div>
    <div class="tab-pane" id="tab2">
      <p>Howdy, I'm in Section 2.</p>
    </div>
  </div>
</div>

<div class="tabbable">
	<ul class="nav nav-pills nav-stacked">
		<li class="active"><a href="#1" data-toggle="tab">item 1</a></li>
		<li class="active"><a href="#2" data-toggle="tab">item 3</a></li>
		<li class="active"><a href="#3" data-toggle="tab">item 3</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="1">
		abc
		</div>
		<div class="tab-pane" id="2">
		def
		</div>
		<div class="tab-pane" id="3">
		ghi
		</div>
	</div>


{% assign _B1_ = site.posts %}
<div class="tabbable">
	<ul class="nav nav-pills nav-stacked" id="_archive_year_">
	{% for years in _B1_  %}
	{% assign _this_year_ = years.date | date: "%Y" %}
	{% assign _next_year_ = years.previous.date | date: "%Y" %}
	{% if forloop.first %}
		<li class="active"><a href="#{{ _this_year_ }}" data-toggle="tab">{{ _this_year_ }}</a></li>
	{% elsif _this_year_ != _next_year_ %}
		<li class=""><a href="#{{ _next_year_  }}" data-toggle="tab">{{ _next_year_ }}</a></li>
	{% endif %}
	{% endfor %}
	</ul>
	
	<div class="tab-content">
		{% for year in _B1_  %}
		{% assign _this_year_ = year.date | date: "%Y" %}
		{% assign _next_year_ = year.previous.date | date: "%Y" %}
		{% assign _this_m_ = year.date | date: "%B" %}
		{% assign _next_m_ = year.previous.date | date: "%B" %}
		{% if forloop.first %}
			<div class="tab-pane active" id="{{ _this_year_ }}">
				<div class="tabbable">
				<ul class="nav nav-tabs nav-stacked" id="_archive_{{ _this_year_  }}_">
					<li class="active"><a href="#{{ _this_m_ }}_{{ _this_year_ }}" data-toggle="tab">{{ _this_m_ }}</a></li>
		{% elsif _this_year_ == _next_year_ %} {% if _this_m_ != _next_m_ %}
					<li class=""><a href="#{{ _next_m_ }}_{{ _this_year_ }}" data-toggle="tab">{{ _next_m_ }}</a></li>
					{% endif %}
		{% elsif _this_year_ != _next_year_ %}
				</ul>
			</div>
			</div>
			<div class="tab-pane" id="{{ _next_year_ }}">
				<div class="tabbable  tabs-left">
				<ul class="nav nav-tabs" id="_archive_{{ _next_year_  }}_">
					<li class="active"><a href="#{{ _this_m_ }}_{{ _next_year_ }}" data-toggle="tab">{{ _this_m_ }}</a></li>

		{% endif %}
		{% if forloop.last %}
				</ul>
			</div>
		{% endif %}
		{% endfor %}
		<div class="tab-content">
		{% for year in _B1_  %}
		{% assign _this_year_ = year.date | date: "%Y" %}
		{% assign _next_year_ = year.previous.date | date: "%Y" %}
		{% assign _this_m_ = year.date | date: "%B" %}
		{% assign _next_m_ = year.previous.date | date: "%B" %}
		{% if forloop.first %}
			<div class="tab-pane active" id="{{ _this_m_ }}_{{ _this_year_ }}">
			 simle {{ _this_m_ }}_{{ _this_year_ }}
			</div>
		{% elsif _this_year_ == _next_year_ %} {% if _this_m_ != _next_m_ %}
						<div class="tab-pane" id="{{ _next_m_ }}_{{ _this_year_ }}">
			 simle {{ _next_m_ }}_{{ _this_year_ }}
			</div>
			{% endif %}
		{% elsif _this_year_ != _next_year_ %}
			<div class="tab-pane active" id="{{ _next_m_ }}_{{ _next_year_ }}">
				simle {{ _next_m_ }}_{{ _next_year_ }}
			</div>
		{% endif %}		
		{% endfor %}
		</div>
		</div>
	</div>
</div>
