---
layout: blog3
title: "stderr | log"
description: "an io scratch pad"
header : Standard Error, the blog
---

{% for post in paginator.posts  %}
	{% include stderr/setup %}
	{% include stderr/io %}
	<hr>
{% endfor  %}

<div class="pagination pagination-centered">
	<ul class="pagination pagination-lg pager">
	{% if paginator.previous_page > 1 %}
		<li class="next"><a href="{{ BASE_PATH }}/page{{paginator.previous_page}}" title="previous">&larr; Previous fail</a></li>
	{% elsif paginator.previous_page == 1 %}
		<li class="next"><a href="{{ BASE_PATH }}/" title="previous">&larr; Previous</a></li>
	{% else %}
	<li class="next disabled"><a>&larr; Previous</a></li>
	{% endif %}
	<li class="pagination pagination-lg pager"><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}" title="archive">Archive</a></li>
	{% if paginator.next_page %}
	<li class="previous"><a href="{{ BASE_PATH }}/page{{paginator.next_page}}" title="next">Next &rarr;</a></li>
	{% else %}
	<li class="previous disabled"><a>Next &rarr;</a>
	{% endif %}
	</ul>
</div>
