<!--Max Span is 9-->
<article>
	<hrgroup>
		<header class="page-header">
			<h1>{{ page.title }} <small>{{ page.description }}</small></h1>
			<h4><small>Published: <time class="pubdate" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%b %d %Y" }}</time>
			{% if page.source.url  %}<br>via:
				{% if page.source.url != empty and page.source.title != empty %}	<a href="{{ page.source.url }}" title="{{ page.source.title }}">{{ page.source.title }}</a>
				{% elsif page.source.url != empty and page.source.title == empty %}	<a href="{{ page.source.url }}" title="123">{{ page.source.url }}</a>	{% else %}error{% endif %}{% endif %}
			</small></h4>
			<h6>{% for tag in page.tags %}
	<a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref" class="label label-info">{{ tag }}</a>
{% endfor %}</h6>
		</header>
	</hrgroup>
	<section class="post">
		{{ content }}
	</section>
</article>
<hr>
<div class="pagination pagination-centered">
	<ul>
	{% if page.previous %}
	<li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
	{% else %}
	<li class="prev disabled"><a>&larr; Previous</a></li>
	{% endif %}
	<li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
	{% if page.next %}
	<li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
	{% else %}
	<li class="next disabled"><a>Next &rarr;</a>
	{% endif %}
	</ul>
</div>
{% include JB/comments %}