@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,500|Source+Code+Pro:500);
@import url(http://fonts.googleapis.com/css?family=Marvel|Arvo);
.page-header h1 {
	font-family: 'Arvo', serif;
	font-style: normal;
	font-weight: 400;
}
.page-header h1 small {
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0em;
	word-spacing: 0em;
}

.post-header h2 {
	font-family: 'Marvel', serif;
	font-style: normal;
	font-weight: 400;
	text-transform: lowercase;
}
