@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,500);
@import url(http://fonts.googleapis.com/css?family=Arvo);

.page-header h1 {
	font-family: "Arvo, inherit";
}
.post-header h1 small {
	font-family: "'Source Sans Pro', inherit";
	font-weight: 200;

}
