@import url(http://fonts.googleapis.com/css?family=Arvo|Sintony|Kameron|Overlock);
.arch-header h1, a.h-link  {
	font-family: 'Overlock', 'Arvo', serif;
	color: #2f4f4f;
	font-style: normal;
	font-weight: 400;
	font-size: normal;
	text-decoration: none;
}

.post-header h2 {
	font-family: 'Kameron', serif;
	font-style: normal;
	font-weight: 400;
	text-transform: lowercase;
}
.page-header h3 {
	font-family: 'Kameron', serif;
	font-style: normal;
	font-weight: 400;
	text-transform: lowercase;
}
.post {
	font-family: 'Sintony', sans-serif;
	font-style: normal;
	font-weight: 400;
}
.pubdate {
	font-family: 'Sintony', sans-serif;
	font-style: normal;
	font-weight: 400;
}
body {
	color: #2f4f4f;
	background-color: rgb(250, 250, 250) ; /* #FEFEFE eee8dc */
}
/*a:link {
	color: #DED8D7;
}

@import url(http://fonts.googleapis.com/css?family=Sanchez|Crimson+Text|Tienne|Source+Sans+Pro|Source+Code+Pro|Gilda+Display|Noticia+Text|Marvel|Tauri|Headland+One|Bitter);

'Gilda Display', 'Noticia Text', 'Marvel', 'Tauri', 'Headland One', 'Bitter' 'Source Sans Pro'
h1: Arvo or Overlock
h2: Kameron
body: Sintony

*/