		body {
			margin-top: 25px; /* 40px to make the container go all the way to the bottom of the topbar */
			color: #2F2F2F;
		}
		.theContent {
			padding-right: 8px;
		}
		.pagerLike {
			text-align: center;
		}
		.about img {
			float: left;
			margin: 0 8px 8px 0;

		}
		.img-post {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.about {
			text-align: left;
		}
		.sideRail {
		}
		.post {
			margin-left: 16px;
			margin-right: 16px;
		}
		a.permalink {
			text-decoration: none;
			color: #3d3d3d;
		}
		a.permalink :hover{
			text-decoration: none;
			color: #049cdb;			
		}
		.fixed-position {
			position: fixed;
		}
		footer {
			position: fixed;
			bottom: 2%;
			left: 1%;
		}